# Lab:  Practical Pandas - Working

_This is a quiz given in Roger Peng's [Coursera](https://www.coursera.org) class [Computing for Data Analysis](https://www.coursera.org/course/compdata).  _

_Sourced from [Research Computing MeetUp's](https://github.com/ResearchComputing/Meetup-Fall-2013) Python course._

In [1]:
import pandas as pd
import os

In [4]:
data = pd.read_csv(os.path.join('..', 'data', 'ozone.csv'))
print(data.head())

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2
2   12.0    149.0  12.6    74      5    3
3   18.0    313.0  11.5    62      5    4
4    NaN      NaN  14.3    56      5    5

### Print the column names of the dataset to the screen, one column name per line.

In [6]:
data.columns

Index(['Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype='object')

In [7]:
for col in data.columns:
    print(col)

Ozone
Solar.R
Wind
Temp
Month
Day

### Extract the first 2 rows of the data frame and print them to the console. What does the output look like?

In [8]:
print(data.head(2))

   Ozone  Solar.R  Wind  Temp  Month  Day
0   41.0    190.0   7.4    67      5    1
1   36.0    118.0   8.0    72      5    2

### How many observations (i.e. rows) are in this data frame?

In [10]:
data.index   # 153

RangeIndex(start=0, stop=153, step=1)

In [11]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 7.2 KB

### Extract the last 2 rows of the data frame and print them to the console. What does the output look like?

In [12]:
data.tail(2)

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

In [13]:
data[-2:]

     Ozone  Solar.R  Wind  Temp  Month  Day
151   18.0    131.0   8.0    76      9   29
152   20.0    223.0  11.5    68      9   30

### What is the value of Ozone in the 47th row?

In [14]:
data.Ozone[46]

21.0

### How many missing values are in the Ozone column of this data frame?

In [15]:
data.Ozone.isnull().sum()

37

### What is the mean of the Ozone column in this dataset? Exclude missing values (coded as NA) from this calculation.

In [20]:
data.info()   # Ozone has 116 non-null values of 153 total rows

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153 entries, 0 to 152
Data columns (total 6 columns):
Ozone      116 non-null float64
Solar.R    146 non-null float64
Wind       153 non-null float64
Temp       153 non-null int64
Month      153 non-null int64
Day        153 non-null int64
dtypes: float64(3), int64(3)
memory usage: 7.2 KB

In [19]:
data.describe()   # excludes NaN in numeric calculations by default

            Ozone     Solar.R        Wind        Temp       Month         Day
count  116.000000  146.000000  153.000000  153.000000  153.000000  153.000000
mean    42.129310  185.931507    9.957516   77.882353    6.993464   15.803922
std     32.987885   90.058422    3.523001    9.465270    1.416522    8.864520
min      1.000000    7.000000    1.700000   56.000000    5.000000    1.000000
25%     18.000000  115.750000    7.400000   72.000000    6.000000    8.000000
50%     31.500000  205.000000    9.700000   79.000000    7.000000   16.000000
75%     63.250000  258.750000   11.500000   85.000000    8.000000   23.000000
max    168.000000  334.000000   20.700000   97.000000    9.000000   31.000000

In [21]:
data.Ozone.mean()   # agrees with data.describe()

42.12931034482759

### Extract the subset of rows of the data frame where Ozone values are above 31 and Temp values are above 90. What is the mean of Solar.R in this subset?

In [22]:
data[(data.Ozone>31) & (data.Temp>90)]

     Ozone  Solar.R  Wind  Temp  Month  Day
68    97.0    267.0   6.3    92      7    8
69    97.0    272.0   5.7    92      7    9
119   76.0    203.0   9.7    97      8   28
120  118.0    225.0   2.3    94      8   29
121   84.0    237.0   6.3    96      8   30
122   85.0    188.0   6.3    94      8   31
123   96.0    167.0   6.9    91      9    1
124   78.0    197.0   5.1    92      9    2
125   73.0    183.0   2.8    93      9    3
126   91.0    189.0   4.6    93      9    4

In [23]:
data[(data.Ozone>31) & (data.Temp>90)]['Solar.R'].mean()

212.8

### What is the mean of "Temp" when "Month" is equal to 6?

In [28]:
data[data.Month==6]['Temp'].mean()

79.1

In [29]:
# same as
data[(data.Month==6)].Temp.mean()

79.1

### What was the maximum Ozone value in the month of May (i.e. Month = 5)?

In [30]:
data[(data.Month==5)].Ozone.max()

115.0